# 依赖
node_modules/

# 构建产物
dist/
.output/
unpackage/

# 环境变件
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 日志
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# 临时文件
*.local
.cache/
